*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.body1{
    background-color: black;
}
h1{
    color:#fff;
    position: absolute;
    margin-top: 18%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    margin-left: 25%;
}
.chaisse{
    width: 25%;
    margin-left: 50%;
}